/* reset */
html {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
.logo {
  width: 20%;
  position: absolute;
  left: 5px;
  z-index: 10000;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Background colors */
.bg-light {
  background-color: rgba(252, 235, 213, 1) !important;
}

.bg-normal {
  background-color: rgba(237, 213, 187, 1) !important;
}

.bg-dark {
  background-color: rgba(224, 150, 134, 1) !important;
}

.bg-gray {
  background-color: rgba(229, 229, 229, 1) !important;
}

/* primary colors */

.pc-default {
  background-color: rgba(161, 106, 94, 1);
}
.pc-contrast {
  background-color: rgba(212, 76, 46, 1);
}

.pc-blue {
  background-color: rgba(27, 89, 172, 1);
}

.pc-green {
  background-color: rgba(27, 172, 111, 1);
}
/* text colors */
.pc-default-text {
  color: rgba(161, 106, 94, 1);
}
.text-light {
  color: rgba(252, 235, 213, 1) !important;
}
.text-default {
  color: rgba(90, 90, 90, 1);
}

.text-muted {
  color: rgba(185, 185, 185, 1);
}

.text-white {
  color: rgba(248, 248, 248, 1);
}

/* text format */
.fs-big{
  font-size: 30px;
}

.fs-7{
  font-size: 12px;
}
h1{
  color: rgba(161, 106, 94, 1);
}
.styled-text,
h1 {
  font-size: 30px;
  font-family: "Reenie Beanie", cursive;
  /* color: rgba(161, 106, 94, 1); */
  padding: 10px 0;
}

.box-shadow {
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

/* cutouts */

.upper-cut {
  position: absolute;
  width: 260px;
  height: 276.5px;
  /* left: 77px; */
  /* top: 321px; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 34%);
}
.lower-cut {
  position: absolute;
  width: 260px;
  height: 276.5px;
  /* left: 77px; */
  top: 94px;
  clip-path: polygon(0 0, 100% 66%, 100% 100%, 0 100%);
}
.bla-500 {
  height: 500px;
}

.upper-cut:hover, .lower-cut:hover{
  scale: 1.1;
  border: 2px solid black;
  z-index: 10000;
}


option{
  background-color:rgba(252, 235, 213, 1) ;
}
.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  gap: 1px;
  z-index: -1;
}

.parent .brick-1 {
  justify-self: end;
  height: 13px;
  width: 30px;
  background-color:rgba(252, 235, 213, 1) ;
  margin: 4px 0px;
  border-radius: 2px;
  /* box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5); */
}

.parent .brick-2 {
  height: 13px;
  width: 30px;
  background-color: rgba(252, 235, 213, 1);
  border-radius: 2px;
  /* box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5); */
}

#visitorHomePage .position-absolute{
  top: 35px;
  left: 10px;
  right: 10px;
}

.slider{
  
  box-sizing: border-box;
  display: flex;
  /* height:200px; */
  min-width: 400px;
  margin-left: 10px;
  animation: slide 50s linear infinite;
}
.slider img {
  width: 200px;
  height: 110px;
  margin-right: 30px;
}


@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1000px, 0, 0);
    /* The image width */
  }
}



.carousel-img{
  position: relative;
  width: 70%;
  margin: 30px auto;
 
  font-size: 12px;
  padding: 30px 10px 10px 10px;
}
.carousel-img div img{
  position: absolute;
  left: 50%;
  top: -25px;
  transform: translate(-50%);
  border-radius: 100%;
  border: 2px solid rgba(224, 150, 134, 1);
  height: 50px;
  width: 50px;
  
}

.carousel-desc{
  width: 70%;
  margin: 0 auto;
  font-size: 12px;

}

.carousel-devider{
  border-right: 2px solid rgba(224, 150, 134, 1);;
  
}

input, select{
  border-radius: 0!important;
  border: 1px solid rgba(252, 235, 213, 1);
  background-color: transparent;
}


#open-filter{
  z-index: 2000;
  top: calc(100vh - 250px);
  left: auto;
  right: 20px;
}

#card-container div:nth-child(2n+2){
  background-color: rgba(161, 106, 94, 1)!important;
}

.mr-2{
  margin-right: 10px;
}
.ml-2{
  margin-left: 10px;
}


.ml-h1{
  margin-left: 45px;

}

.border-dashed {
  border: 2px dashed rgba(161, 106, 94, 1);
}

textarea{
  width: 100%;
}


#edit-canvas{
  border: 1px solid black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#liveCamera{
  width: 100% ;
}

#cameraPage, #auction{
  min-height: calc(100vh - 200px);;
}

.away-bid{
  text-align: end;
}
#biddings li:nth-child(1n){
  padding: 5px 10px;
  color:blue;
  
}
#biddings li:nth-child(2n){
  padding: 5px 10px;
  color: red;

}

